.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}