.back .el-button{
    float: left;
}
/* 
.aiLabel .el-table__header col:first-child {
    width: 21px !important;
}

.aiLabel .el-table__header col {
    width: 151px !important;
}

.aiLabel .el-table__header col:nth-last-child(2) {
    width: 144px !important;
}

.aiLabel .el-table__header col:last-child {
    width: 0 !important;
} */